@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: Roboto;

}

body {
    margin: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


/* HEADER */


.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 18px 210px;
}

.links {
    display: flex;
    color: white;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}


/* CONTENT */


.content {
    background-color: #1F2937;
    color: white;
    display:flex;
    padding: 100px 210px;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: 900;
    width: 360px;
}

.subtext {
    width: 460px;
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB
}

.content button {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 14px;
    width: 138px;
    color: white;
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    padding: 8px 40px 8px 40px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;

}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

.image {
    height: 250px;
}

/* INFORMATION-SECTION */

.info-header {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin: 40px 0;
    font-weight: 800;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 36px;
    padding-bottom: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 160px;
    border: 4px solid #3882F6;
    border-radius: 24px;
}

.image-text {
    width: 160px;
    text-align: center;
    margin-top: 8px;
    color: #4b5563;
}

/* QUOTE-SECTION */

.quote-section {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 800px;
    display: flex;
    align-self: center;
    padding-top: 100px;

}

.source-container {
    display: flex;
    width: auto;
    justify-content: flex-end;
}
.source {
    font-weight: 700;
    font-size: 22px;
    padding-right: 280px;
}

/* CTA-SECTION */

.cta-section {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    gap: 250px;
    border-radius: 8px;
    height: 160px;
}

.cta-left {
    padding: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 8px;
    margin-left: 80px;
    align-self: center;
}

.cta-header {
    font-size: 24px;
    font-weight: 500;
}

.cta-button {
    align-self: center;
    margin-right: 120px;
    background-color:#3882F6;
    border: 2px solid white;
    height: 40px;
    width: 120px;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
}