@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: Roboto;

}

body {
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 18px 210px;
}

.links {
    display: flex;
    color: white;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}